In [2]:
!pip install --upgrade scikit-learn==0.20.3

Collecting scikit-learn==0.20.3
  Downloading scikit_learn-0.20.3-cp37-cp37m-manylinux1_x86_64.whl (5.4 MB)
     |████████████████████████████████| 5.4 MB 4.0 MB/s
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.20.3) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.20.3) (1.4.1)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.1
    Uninstalling scikit-learn-1.0.1:
      Successfully uninstalled scikit-learn-1.0.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.20.3 which is incompatible.
Successfully installed scikit-learn-0.20.3

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

In [2]:
data = pd.read_csv('winequality-red.csv', sep = ';')
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [3]:
data.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [4]:
x = data.drop(columns='quality')
print(x.head())
y = data['quality']
print(y.head())

   fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0            7.4              0.70         0.00  ...  3.51       0.56      9.4
1            7.8              0.88         0.00  ...  3.20       0.68      9.8
2            7.8              0.76         0.04  ...  3.26       0.65      9.8
3           11.2              0.28         0.56  ...  3.16       0.58      9.8
4            7.4              0.70         0.00  ...  3.51       0.56      9.4

[5 rows x 11 columns]
0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [5]:
x_trian,x_test, y_train, y_test = train_test_split(x,y ,test_size = 0.30, random_state = 43)

In [9]:
# without preprocessing the data
without_preprocessing_dt = DecisionTreeClassifier(min_samples_split=2)
without_preprocessing_dt.fit(x_trian, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [10]:
without_preprocessing_dt.score(x_test,y_test)

0.5833333333333334

In [13]:
dt = DecisionTreeClassifier(criterion= 'entropy', max_depth= 24, min_samples_leaf= 1, min_samples_split= 2, splitter= 'best')
dt.fit(x_trian, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=24,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
dt.score(x_test, y_test)

0.5916666666666667

In [17]:
rand_dt = RandomForestClassifier(random_state=6)
rand_dt.fit(x_trian,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=6, verbose=0, warm_start=False)

In [18]:
rand_dt.score(x_test, y_test)

0.6541666666666667

In [20]:
grid_parm = {
    'n_estimators': [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf': range(1,10,1),
    'min_samples_split' : range(2,10,1),
    'max_features': ['auto', 'log2']
}

In [21]:
grid_search = GridSearchCV(estimator = rand_dt, param_grid = grid_parm, cv = 5, n_jobs=-1)

In [24]:
#grid_search.fit(x_trian, y_train)

In [23]:
grid_search.best_params_

AttributeError: ignored

In [ ]:
rand_clf = RandonForestClassifier(criterion= 'entropy', max_features = 'auto', min_samples_leaf = 1, min_samples_split = 4, n_estimators = 115, random_state = 6)

In [ ]:
rand_clf.score(x_test, y_test)