In [3]:
#Installing SQL 
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mksmu\anaconda3\lib\site-packages (8.0.27)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.1-cp38-cp38-win_amd64.whl (895 kB)
Installing collected packages: protobuf
Successfully installed protobuf-3.19.1

In [4]:
### Creating MySQL Connection --> For connection 

import mysql.connector as sql

connection = sql.connect(
    host = 'localhost',
    user = 'root',
    password = 'mysql@1996'
)

print("The connection is established\n", connection)

The connection is established
 <mysql.connector.connection_cext.CMySQLConnection object at 0x00000234AF943DF0>

In [6]:
# creating a new database

cursor = connection.cursor()

# This cursor is responsible for preforming all the operation in MySQL.

cursor.execute('create database records')

In [7]:
# command is used to check the database
cursor.execute('show databases')

In [8]:
# For iterate the command is 
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('records',)
('sakila',)
('sys',)
('world',)

In [26]:
# Creating tables and insert records

connection = sql.connect(
    host = 'localhost',
    user = 'root',
    password = 'mysql@1996',
    database = 'records'  # It is the database that i have created.
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000234B17B9850>

In [27]:
cursor = connection.cursor()

# table creation command is 'create table table_name'

cursor.execute('create table student_data(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),subject VARCHAR(255))')

#query -> 'create tablle student_data(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),subject VARCHAR(255))'

ProgrammingError: 1050 (42S01): Table 'student_data' already exists

In [35]:
# Insert records into the table --> student_data
# query 1 ---> insert into table_name

query = 'insert into student_data(name, subject) values (%s, %s)' # %s denote as VARCHAR
value = ('Rakesh', 'M-TECh')
cursor.execute(query,value)
print('Rows inserted successful', cursor.lastrowid) # <---last_row_id

InternalError: Unread result found

In [29]:
# Insert multiple records
query = 'insert into student_data(name, subject) values (%s, %s)'
value = [('Mukesh', 'MCA'),
        ('Achyuth', 'BCOM-Gen'),
        ('Chintu', 'B-TECH'),
        ('Ashok', 'BCOM-COM'),
        ('Jagan', 'Failure')]

cursor.executemany(query,value)
print('Rows Insterted', cursor.lastrowid)

Rows Insterted 9

In [30]:
cursor = connection.cursor()
cursor.execute('select * from student_data')
cursor.fetchall()

[(8, 'Rakesh', 'M-TECh'),
 (9, 'Mukesh', 'MCA'),
 (10, 'Achyuth', 'BCOM-Gen'),
 (11, 'Chintu', 'B-TECH'),
 (12, 'Ashok', 'BCOM-COM'),
 (13, 'Jagan', 'Failure')]

In [31]:
## fetch one record at a time 
cursor.execute('select * from student_data')
cursor.fetchall()

[(8, 'Rakesh', 'M-TECh'),
 (9, 'Mukesh', 'MCA'),
 (10, 'Achyuth', 'BCOM-Gen'),
 (11, 'Chintu', 'B-TECH'),
 (12, 'Ashok', 'BCOM-COM'),
 (13, 'Jagan', 'Failure')]

In [36]:
# selecting a particular row
cursor = connection.cursor()
cursor.execute('select * from student_data where name = "Rakesh"')

InternalError: Unread result found